## Rehan tariq
## 22i-0965
## CS-6A

## Task 1

In [2]:
cel_temp = float(input('Enter temperature in Celsius: '))
fah_temp = (9/5 * cel_temp) + 32
print('Temperature in Fahrenheit is: ', fah_temp)

Enter temperature in Celsius: 37
Temperature in Fahrenheit is:  98.60000000000001

## Task 2

In [3]:
keys = ['name', 'age', 'grade']
values = ['Ali', 20, 'A']

dictionary = {}
for i in range (len(keys)):
    dictionary[keys[i]] = values[i]

print(dictionary)

{'name': 'Ali', 'age': 20, 'grade': 'A'}

## Task 3

In [1]:
def function(numbers):

    average = (sum(numbers))/(len(numbers))
    print(average)
    if(average < 40):
        return (sum(numbers))
    else:
        return (max(numbers))

count = 5
listofnumbers = []

for i in range (count):
    number = int(input("Enter number: "))
    listofnumbers.append(number)
print(listofnumbers)
result = function(listofnumbers)

print(result)

Enter number: 1
Enter number: 3
Enter number: 2
Enter number: 4
Enter number: 5
[1, 3, 2, 4, 5]
3.0
15

## Task 4

In [10]:
def ftn(numbers):
  flattenlist =[]
  for i in numbers:
        if isinstance(i, list):
            flattenlist.extend(ftn(i))
        else:
            flattenlist.append(i)
  return flattenlist


x = ['X', 45.5, [67.8, 'Y'], [8,9,'Z']]
y = [[[1,2,3], [4,5]], 6]
print(ftn(x))

['X', 45.5, 67.8, 'Y', 8, 9, 'Z']

## Task 5

In [4]:
x = int(input('Enter a number: '))

for i in range (1, x+1):
    if i%2 == 0:
        print(i)

Enter a number: 10
2
4
6
8
10